node_modules/

.expo/
.next/
.vscode/
.idea/
.yarn/*
!.yarn/releases

builds/
*.apk
*.app
*.tar.gz

sherlo-lib/
!testing/react-native/sherlo-lib/
testing/react-native/sherlo-lib/*
!testing/react-native/sherlo-lib/react-native-storybook.tgz
.env

*storybook.log
storybook-static