node_modules
*.log
.idea
*.iml
npm-shrinkwrap.json
dist
.tern-port
*.DS_Store
.cache
junit.xml
.env
coverage/
*.lerna_backup
build
docs/public
packs/*.tgz
package-lock.json
storybook-static
integration/__image_snapshots__/__diff_output__
.jest-test-results.json
lib/*.jar
lib/**/dll
.expo/packager-info.json
scripts/storage
htpasswd
/false
storybook-out
/addons/docs/common/config-*
built-storybooks
sherlo-lib

# Builds directory (no longer using LFS)
testing/*/builds/*/
testing/*/builds/*/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions