node_modules/

.expo/
.next/
.vscode/
.idea/
.yarn/*
!.yarn/releases
.local-data/

dist/
builds/
*.apk
*.app
*.tar.gz

sherlo-lib/
!testing/expo/sherlo-lib/
testing/expo/sherlo-lib/*
!testing/expo/sherlo-lib/react-native-storybook.tgz
!testing/react-native/sherlo-lib/
testing/react-native/sherlo-lib/*
!testing/react-native/sherlo-lib/react-native-storybook.tgz
.env
sherlo.config.json

*storybook.log
storybook-static

.cache/