<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-03-30T12:32:35Z</date>
	<key>WorkspacePath</key>
	<string>/Users/michalziolkowski/sherlo-workspace/sherlo/testing/rn-storybook-7/ios/SherloRNExample.xcworkspace</string>
</dict>
</plist>
