name: Android Build

on:
  workflow_call:
    inputs:
      project:
        description: 'Project to build'
        required: true
        type: string # 'expo-storybook-8' or 'rn-storybook-7'
        default: 'expo-storybook-8'
      skip_build:
        description: 'Skip the build steps'
        required: false
        type: boolean
        default: false
      profile:
        required: true
        type: string
        description: 'Build profile to use (development, preview, production)'

jobs:
  android_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          lfs: true

      - name: Set up Node.js
        if: ${{ !inputs.skip_build }}
        uses: actions/setup-node@v2
        with:
          node-version: '18.18.0'

      - name: Setup Java Environment
        if: ${{ !inputs.skip_build }}
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Add env specific dependencies
        run: ./scripts/switch-env.sh dev
        env:
          PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}

      - name: Install dependencies
        if: ${{ !inputs.skip_build }}
        run: yarn

      - name: Install project dependencies
        working-directory: testing/${{ inputs.project }}
        run: yarn

      - name: Setup EAS
        if: ${{ !inputs.skip_build }}
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Build "expo-storybook-8" Android example app
        if: ${{ !inputs.skip_build && inputs.project == 'expo-storybook-8' }}
        working-directory: testing/expo-storybook-8
        run: eas build --platform android --local --profile=${{ inputs.profile }} --output=builds/${{ inputs.profile }}/android.apk

      - name: Build "rn-storybook-7" Android example app
        if: ${{ !inputs.skip_build && inputs.project == 'rn-storybook-7' }}
        working-directory: testing/rn-storybook-7
        run: yarn build:android:preview

      - name: Upload Android Artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-${{ inputs.profile }}-${{ inputs.project }}
          path: testing/${{ inputs.project }}/builds/${{ inputs.profile }}/android.apk
