name: iOS Build
on:
  workflow_call:
    inputs:
      project:
        description: 'Project to build'
        required: true
        type: string # 'expo-storybook-8' or 'rn-storybook-7'
        default: 'expo-storybook-8'
      skip_build:
        description: 'Skip the build steps'
        required: false
        type: boolean
        default: false
      profile:
        required: true
        type: string
        description: 'Build profile to use (development, preview, production)'

jobs:
  ios_build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          lfs: true

      - name: Set up Node.js
        if: ${{ !inputs.skip_build }}
        uses: actions/setup-node@v2
        with:
          node-version: '18.18.0'

      - name: Select Xcode Version
        if: ${{ !inputs.skip_build }}
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.2'
      - run: |
          xcode-select -print-path
      - run: |
          xcodebuild -version

      - name: Setup Cocoapods
        if: ${{ !inputs.skip_build }}
        uses: maxim-lobanov/setup-cocoapods@v1
        with:
          version: latest

      - name: Install dependencies
        if: ${{ !inputs.skip_build }}
        run: yarn

      - name: Build dependencies
        if: ${{ !inputs.skip_build }}
        run: yarn switch-env:dev
        env:
          PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}

      - name: Setup EAS
        if: ${{ !inputs.skip_build }}
        uses: expo/expo-github-action@v8
        with:
          eas-version: 13.4.2
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Build "expo-storybook-8" iOS example app
        if: ${{ !inputs.skip_build && inputs.project == 'expo-storybook-8' }}
        working-directory: testing/expo-storybook-8
        run: eas build --platform ios --local --profile=${{ inputs.profile }} --output=builds/${{ inputs.profile }}/ios.tar.gz

      - name: Build "rn-storybook-7" iOS example app
        if: ${{ !inputs.skip_build && inputs.project == 'rn-storybook-7' }}
        working-directory: testing/rn-storybook-7
        run: yarn build:ios:preview

      - name: Upload iOS Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-${{ inputs.profile }}
          path: testing/${{ inputs.project }}/builds/${{ inputs.profile }}/ios.tar.gz
