name: 'PR Lint Check'
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Check PR title
        uses: amannn/action-semantic-pull-request@v3.4.2
        with:
          types: |
            chore
            fix
            feat
            test
          scopes: |
            action
            cli
            react-native-storybook
            expo-storybook-8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
