name: 'Sherlo Builds'

on:
  workflow_dispatch:
    inputs:
      arch:
        description: 'Architecture'
        required: true
        default: 'old & new'
        type: choice
        options:
          - 'old & new'
          - 'old'
          - 'new'
      rn_preview_android:
        description: 'React Native Preview | Android'
        required: false
        default: false
        type: boolean
      rn_preview_ios:
        description: 'React Native Preview | iOS'
        required: false
        default: false
        type: boolean
      rn_development_android:
        description: 'React Native Dev | Android'
        required: false
        default: false
        type: boolean
      rn_development_ios:
        description: 'React Native Dev | iOS'
        required: false
        default: false
        type: boolean
      expo_preview_ios:
        description: 'Expo Preview | iOS'
        required: false
        default: false
        type: boolean
      expo_preview_android:
        description: 'Expo Preview | Android'
        required: false
        default: false
        type: boolean
      expo_development_android:
        description: 'Expo Dev | Android'
        required: false
        default: false
        type: boolean
      expo_development_ios:
        description: 'Expo Dev | iOS'
        required: false
        default: false
        type: boolean

jobs:
  setup-matrix:
    runs-on: ubuntu-latest
    outputs:
      arch-matrix: ${{ steps.set-matrix.outputs.arch-matrix }}
    steps:
      - id: set-matrix
        run: |
          if [ "${{ github.event.inputs.arch }}" == "old & new" ]; then
            echo "arch-matrix=[\"old\", \"new\"]" >> $GITHUB_OUTPUT
          elif [ "${{ github.event.inputs.arch }}" == "old" ]; then
            echo "arch-matrix=[\"old\"]" >> $GITHUB_OUTPUT
          else
            echo "arch-matrix=[\"new\"]" >> $GITHUB_OUTPUT
          fi

  rn_preview_ios:
    needs: setup-matrix
    uses: ./.github/workflows/build:ios.yml
    if: ${{ github.event.inputs.rn_preview_ios == 'true'}}
    name: RN Preview iOS Build - ${{ matrix.arch }}
    secrets: inherit
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    with:
      profile: 'preview'
      project: 'react-native'
      arch: ${{ matrix.arch }}

  rn_preview_android:
    needs: setup-matrix
    uses: ./.github/workflows/build:android.yml
    if: ${{ github.event.inputs.rn_preview_android == 'true'}}
    name: RN Preview Android Build - ${{ matrix.arch }}
    secrets: inherit
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    with:
      profile: 'preview'
      project: 'react-native'
      arch: ${{ matrix.arch }}

  rn_development_ios:
    needs: setup-matrix
    uses: ./.github/workflows/build:ios.yml
    if: ${{ github.event.inputs.rn_development_ios == 'true'}}
    name: RN Development iOS Build - ${{ matrix.arch }}
    secrets: inherit
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    with:
      profile: 'development'
      project: 'react-native'
      arch: ${{ matrix.arch }}

  rn_development_android:
    needs: setup-matrix
    uses: ./.github/workflows/build:android.yml
    if: ${{ github.event.inputs.rn_development_android == 'true'}}
    name: RN Development Android Build - ${{ matrix.arch }}
    secrets: inherit
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    with:
      profile: 'development'
      project: 'react-native'
      arch: ${{ matrix.arch }}

  expo_preview_ios:
    needs: setup-matrix
    uses: ./.github/workflows/build:ios.yml
    if: ${{ github.event.inputs.expo_preview_ios == 'true'}}
    name: Expo Preview iOS Build - ${{ matrix.arch }}
    secrets: inherit
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    with:
      profile: 'preview'
      project: 'expo'
      arch: ${{ matrix.arch }}

  expo_preview_android:
    needs: setup-matrix
    uses: ./.github/workflows/build:android.yml
    if: ${{ github.event.inputs.expo_preview_android == 'true'}}
    name: Expo Preview Android Build - ${{ matrix.arch }}
    secrets: inherit
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    with:
      profile: 'preview'
      project: 'expo'
      arch: ${{ matrix.arch }}

  expo_development_ios:
    needs: setup-matrix
    uses: ./.github/workflows/build:ios.yml
    if: ${{ github.event.inputs.expo_development_ios == 'true'}}
    name: Expo Development iOS Build - ${{ matrix.arch }}
    secrets: inherit
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    with:
      profile: 'development'
      project: 'expo'
      arch: ${{ matrix.arch }}

  expo_development_android:
    needs: setup-matrix
    uses: ./.github/workflows/build:android.yml
    if: ${{ github.event.inputs.expo_development_android == 'true'}}
    name: Expo Development Android Build - ${{ matrix.arch }}
    secrets: inherit
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    with:
      profile: 'development'
      project: 'expo'
      arch: ${{ matrix.arch }}
