name: 'Sherlo Testing'

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - 'dev'
          - 'test'
          - 'prod'
      arch:
        description: 'Architecture'
        required: true
        default: 'old & new'
        type: choice
        options:
          - 'old & new'
          - 'old'
          - 'new'
      all_devices:
        description: 'all-devices'
        required: false
        default: false
        type: boolean
      many_stories:
        description: 'many-stories'
        required: false
        default: false
        type: boolean
      standard_rn:
        description: 'default / standard / react-native'
        required: false
        default: false
        type: boolean
      standard_expo:
        description: 'default / standard / expo'
        required: false
        default: false
        type: boolean
      eas_update:
        description: 'default / eas-update'
        required: false
        default: false
        type: boolean
      eas_update_without_builds:
        description: 'default / eas-update (without builds)'
        required: false
        default: false
        type: boolean
      eas_cloud_build:
        description: 'default / eas-cloud-build'
        required: false
        default: false
        type: boolean
  schedule:
    - cron: '0 5 * * *' # 5 AM UTC every day (6 AM in Poland)

jobs:
  check_if_monday:
    runs-on: ubuntu-latest
    outputs:
      is_monday: ${{ steps.check_day.outputs.is_monday }}
    steps:
      - id: check_day
        run: |
          if [[ $(date +%u) == 1 ]]; then
            echo "is_monday=true" >> $GITHUB_OUTPUT
          else
            echo "is_monday=false" >> $GITHUB_OUTPUT
          fi

  setup-matrix:
    runs-on: ubuntu-latest
    outputs:
      arch-matrix: ${{ steps.set-matrix.outputs.arch-matrix }}
    steps:
      - id: set-matrix
        run: |
          if [ "${{ github.event_name }}" == "schedule" ]; then
            echo "arch-matrix=[\"old\"]" >> $GITHUB_OUTPUT
          elif [ "${{ github.event.inputs.arch }}" == "old & new" ]; then
            echo "arch-matrix=[\"old\", \"new\"]" >> $GITHUB_OUTPUT
          elif [ "${{ github.event.inputs.arch }}" == "old" ]; then
            echo "arch-matrix=[\"old\"]" >> $GITHUB_OUTPUT
          else
            echo "arch-matrix=[\"new\"]" >> $GITHUB_OUTPUT
          fi

  all_devices:
    needs: check_if_monday
    uses: ./.github/workflows/test:eas-update.yml
    if: ${{ ((github.event_name == 'schedule' && needs.check_if_monday.outputs.is_monday == 'true') || github.event.inputs.all_devices == 'true') && always() && !failure() && !cancelled() }}
    name: All Devices
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || inputs.env }}
      config: 'all-devices'
      project: 'device-testing'
      with_builds: true
      arch: 'old'

  many_stories:
    needs: check_if_monday
    uses: ./.github/workflows/test:eas-update.yml
    if: ${{ ((github.event_name == 'schedule' && needs.check_if_monday.outputs.is_monday == 'true') || github.event.inputs.many_stories == 'true') && always() && !failure() && !cancelled() }}
    name: Many Stories
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || inputs.env }}
      config: 'many-stories'
      with_builds: true
      project: 'many-stories'
      arch: 'old'

  standard_rn:
    needs: [check_if_monday, setup-matrix]
    uses: ./.github/workflows/test:standard.yml
    if: ${{ ((github.event_name == 'schedule' && needs.check_if_monday.outputs.is_monday == 'true') || github.event.inputs.standard_rn == 'true') && always() && !failure() && !cancelled() }}
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    name: Standard (React Native - ${{ matrix.arch }} Arch)
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || github.event.inputs.env }}
      project: 'react-native'
      arch: ${{ matrix.arch }}

  standard_expo:
    needs: [check_if_monday, setup-matrix]
    uses: ./.github/workflows/test:standard.yml
    if: ${{ ((github.event_name == 'schedule' && needs.check_if_monday.outputs.is_monday == 'true') || github.event.inputs.standard_expo == 'true') && always() && !failure() && !cancelled() }}
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    name: Standard (Expo - ${{ matrix.arch }} Arch)
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || github.event.inputs.env }}
      project: 'expo'
      arch: ${{ matrix.arch }}

  eas_update:
    needs: [check_if_monday, setup-matrix]
    uses: ./.github/workflows/test:eas-update.yml
    if: ${{ ((github.event_name == 'schedule' && needs.check_if_monday.outputs.is_monday == 'true') || github.event.inputs.eas_update == 'true') && always() && !failure() && !cancelled() }}
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    name: EAS Update (${{ matrix.arch }} Arch)
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || github.event.inputs.env }}
      with_builds: true
      project: 'eas-update'
      arch: ${{ matrix.arch }}

  eas_update_without_builds:
    needs: [check_if_monday, setup-matrix]
    uses: ./.github/workflows/test:eas-update.yml
    if: ${{ ((github.event_name == 'schedule' && (needs.check_if_monday.outputs.is_monday == 'true' || contains(needs.setup-matrix.outputs.arch-matrix, 'new'))) || github.event.inputs.eas_update_without_builds == 'true') && always() && !failure() && !cancelled() }}
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    name: EAS Update (without native builds - ${{ matrix.arch }} Arch)
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || github.event.inputs.env }}
      with_builds: false
      project: 'eas-update'
      arch: ${{ matrix.arch }}

  eas_cloud_build:
    needs: [check_if_monday, setup-matrix]
    uses: ./.github/workflows/test:eas-cloud-build.yml
    if: ${{ ((github.event_name == 'schedule' && needs.check_if_monday.outputs.is_monday == 'true') || github.event.inputs.eas_cloud_build == 'true') && always() && !failure() && !cancelled() }}
    strategy:
      matrix:
        arch: ${{ fromJson(needs.setup-matrix.outputs.arch-matrix) }}
    name: EAS Cloud Build (${{ matrix.arch }} Arch)
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || github.event.inputs.env }}
      arch: ${{ matrix.arch }}
