name: 'Sherlo Builds'

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment (dev, test, prod)'
        required: true
        default: 'dev'
        type: string
      expo_preview_builds:
        description: 'Builds: Expo Storybook 8 Preview'
        required: false
        default: false
        type: boolean
      expo_development_builds:
        description: 'Builds: Expo Storybook 8 Development'
        required: false
        default: false
        type: boolean
      rn_preview_builds:
        description: 'Builds: React Native Storybook 7 Preview'
        required: false
        default: false
        type: boolean

jobs:
  update_rn_preview_builds:
    uses: ./.github/workflows/update_builds.yml
    if: ${{ github.event.inputs.rn_preview_builds == 'true'}}
    name: Update RN Preview Builds
    secrets: inherit
    with:
      profile: 'preview'
      project: 'rn-storybook-7'

  update_expo_preview_builds:
    uses: ./.github/workflows/update_builds.yml
    if: ${{ github.event.inputs.expo_preview_builds == 'true'}}
    name: Update Expo Preview Builds
    secrets: inherit
    with:
      profile: 'preview'
      project: 'expo-storybook-8'

  update_expo_development_builds:
    uses: ./.github/workflows/update_builds.yml
    if: ${{ github.event.inputs.expo_development_builds == 'true'}}
    name: Update Expo Development Builds
    secrets: inherit
    with:
      profile: 'development'
      project: 'expo-storybook-8'
