name: 'Sherlo Testing'

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment (dev, test, prod)'
        required: true
        default: 'dev'
        type: string
      preview_builds:
        description: 'Builds: Preview'
        required: false
        default: true
        type: boolean
      development_builds:
        description: 'Builds: Development'
        required: false
        default: true
        type: boolean
      storybook_builds:
        description: 'Builds: Storybook'
        required: false
        default: true
        type: boolean
      device_testing:
        description: 'Test: All Devices'
        required: false
        default: true
        type: boolean
      stress_testing:
        description: 'Test: Stress Testing (20 builds)'
        required: false
        default: true
        type: boolean
      rn_local_builds:
        description: 'Test: local-builds (React Native)'
        required: false
        default: true
        type: boolean
      expo_local_builds:
        description: 'Test: local-builds (Expo)'
        required: false
        default: true
        type: boolean
      expo_remote_builds:
        description: 'Test: expo-remote-builds'
        required: false
        default: true
        type: boolean
      expo_updates:
        description: 'Test: expo-updates'
        required: false
        default: true
        type: boolean

jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - name: Tar check
        run: which tar

      - name: Unzip check
        run: which unzip

  # update_preview_builds:
  #   uses: ./.github/workflows/update_builds.yml
  #   if: ${{ github.event.inputs.preview_builds == 'true'}}
  #   name: Update Preview Builds
  #   secrets: inherit
  #   with:
  #     profile: 'preview'

  # update_development_builds:
  #   uses: ./.github/workflows/update_builds.yml
  #   if: ${{ github.event.inputs.development_builds == 'true'}}
  #   name: Update Development Builds
  #   secrets: inherit
  #   with:
  #     profile: 'development'

  # update_storybook_builds:
  #   uses: ./.github/workflows/update_builds.yml
  #   if: ${{ github.event.inputs.storybook_builds == 'true'}}
  #   name: Update Storybook Builds
  #   secrets: inherit
  #   with:
  #     profile: 'storybook'

  # device_testing:
  #   uses: ./.github/workflows/device_testing.yml
  #   needs: [update_preview_builds]
  #   if: ${{ github.event.inputs.device_testing != 'true' && always() && !failure() && !cancelled() }}
  #   name: Device Testing
  #   secrets: inherit
  #   with:
  #     env: ${{ github.event.inputs.env }}

  # stress_testing:
  #   uses: ./.github/workflows/stress_testing.yml
  #   needs: [update_preview_builds]
  #   if: ${{ github.event.inputs.stress_testing != 'true' && always() && !failure() && !cancelled() }}
  #   name: Stress Testing
  #   secrets: inherit
  #   with:
  #     env: ${{ github.event.inputs.env }}

  # rn_local_builds:
  #   uses: ./.github/workflows/rn_local-builds.yml
  #   needs: [update_preview_builds]
  #   if: ${{ github.event.inputs.rn_local_builds != 'true' && always() && !failure() && !cancelled() }}
  #   name: local-builds (React Native)
  #   secrets: inherit
  #   with:
  #     env: ${{ github.event.inputs.env }}

  # expo_local_builds:
  #   uses: ./.github/workflows/expo_local-builds.yml
  #   needs: [update_storybook_builds]
  #   if: ${{ github.event.inputs.expo_local_builds != 'true' && always() && !failure() && !cancelled() }}
  #   name: local-builds (Expo)
  #   secrets: inherit
  #   with:
  #     env: ${{ github.event.inputs.env }}

  # expo_remote_builds:
  #   uses: ./.github/workflows/expo-remote-builds.yml
  #   needs: [update_preview_builds]
  #   if: ${{ github.event.inputs.expo_remote_builds != 'true' && always() && !failure() && !cancelled() }}
  #   name: expo-remote-builds
  #   secrets: inherit
  #   with:
  #     env: ${{ github.event.inputs.env }}

  # expo_updates:
  #   uses: ./.github/workflows/expo-updates.yml
  #   needs: [update_development_builds]
  #   if: ${{ github.event.inputs.expo_updates != 'true' && always() && !failure() && !cancelled() }}
  #   name: expo-updates
  #   secrets: inherit
  #   with:
  #     env: ${{ github.event.inputs.env }}
