name: 'Sherlo Testing'

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment (dev, test, prod)'
        required: true
        default: 'dev'
        type: string
      use_github_action:
        description: 'Use Sherlo Github Action'
        required: false
        default: false
        type: boolean
      device_testing:
        description: 'Test: All Devices'
        required: false
        default: false
        type: boolean
      many_stories:
        description: 'Test: Many Stories'
        required: false
        default: false
        type: boolean
      expo_local_builds:
        description: 'Test: local-builds (Expo)'
        required: false
        default: false
        type: boolean
      expo_cloud:
        description: 'Test: expo-cloud-builds'
        required: false
        default: false
        type: boolean
      expo_update_with_builds:
        description: 'Test: expo-update (with builds)'
        required: false
        default: false
        type: boolean
      expo_update:
        description: 'Test: expo-update'
        required: false
        default: false
        type: boolean
  schedule:
    - cron: '0 5 * * *'  # 5 AM UTC every day (6 AM in Poland)


jobs:
  device_testing:
    uses: ./.github/workflows/expo-update.yml
    if: ${{ (github.event_name == 'schedule' || github.event.inputs.device_testing == 'true') && always() && !failure() && !cancelled() }}
    name: Device Testing
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || inputs.env }}
      config: 'all-devices'
      project: 'device-testing'
      with_builds: true
      use_github_action: ${{ github.event.inputs.use_github_action == 'true' }}

  many_stories:
    uses: ./.github/workflows/expo-update.yml
    if: ${{ (github.event_name == 'schedule' || github.event.inputs.many_stories == 'true') && always() && !failure() && !cancelled() }}
    name: Many Stories
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || inputs.env }}
      config: 'many-stories'
      with_builds: true
      project: 'many-stories'
      use_github_action: ${{ github.event.inputs.use_github_action == 'true' }}

  expo_local_builds:
    uses: ./.github/workflows/expo_local-builds.yml
    if: ${{ github.event_name == 'schedule' || github.event.inputs.expo_local_builds == 'true' && always() && !failure() && !cancelled() }}
    name: local-builds (Expo)
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || github.event.inputs.env }}
      use_github_action: ${{ github.event.inputs.use_github_action == 'true' }}

  expo_cloud:
    uses: ./.github/workflows/expo-cloud.yml
    if: ${{ github.event_name == 'schedule' || github.event.inputs.expo_cloud == 'true' && always() && !failure() && !cancelled() }}
    name: expo-cloud-builds
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || github.event.inputs.env }}
      use_github_action: ${{ github.event.inputs.use_github_action == 'true' }}

  expo_update_with_builds:
    uses: ./.github/workflows/expo-update.yml
    if: ${{ (github.event_name == 'schedule' || github.event.inputs.expo_update_with_builds == 'true') && always() && !failure() && !cancelled() }}
    name: expo-update (with native builds)
    secrets: inherit
    with:
      env: ${{ github.event_name == 'schedule' && 'dev' || inputs.env }}
      use_github_action: ${{ github.event.inputs.use_github_action == 'true' }}
      with_builds: true
      project: 'expo-update'

  expo_update:
    uses: ./.github/workflows/expo-update.yml
    if: ${{ github.event.inputs.expo_update == 'true' && always() && !failure() && !cancelled() }}
    name: expo-update (without native builds)
    secrets: inherit
    with:
      env: ${{ github.event.inputs.env }}
      use_github_action: ${{ github.event.inputs.use_github_action == 'true' }}
      with_builds: false
      project: 'expo-update'
