name: 'Sherlo Builds'

on:
  workflow_dispatch:
    inputs:
      arch:
        description: 'Architecture'
        required: true
        default: 'old'
        type: choice
        options:
          - 'old'
          - 'new'
      rn_preview_android:
        description: 'RN SB 7 Preview | Android'
        required: false
        default: false
        type: boolean
      rn_preview_ios:
        description: 'RN SB 7 Preview | iOS'
        required: false
        default: false
        type: boolean
      rn_development_android:
        description: 'RN SB 7 Dev | Android'
        required: false
        default: false
        type: boolean
      rn_development_ios:
        description: 'RN SB 7 Dev | iOS'
        required: false
        default: false
        type: boolean
      expo_preview_ios:
        description: 'Expo SB 8 Preview | iOS'
        required: false
        default: false
        type: boolean
      expo_development_android:
        description: 'Expo SB 8 Dev | Android'
        required: false
        default: false
        type: boolean
      expo_development_ios:
        description: 'Expo SB 8 Dev | iOS'
        required: false
        default: false
        type: boolean

jobs:
  rn_preview_ios:
    uses: ./.github/workflows/ios_build.yml
    if: ${{ github.event.inputs.rn_preview_ios == 'true'}}
    name: RN Preview iOS Build
    secrets: inherit
    with:
      profile: 'preview'
      project: 'rn-storybook-7'
      arch: ${{ github.event.inputs.arch }}

  rn_preview_android:
    uses: ./.github/workflows/android_build.yml
    if: ${{ github.event.inputs.rn_preview_android == 'true'}}
    name: RN Preview Android Build
    secrets: inherit
    with:
      profile: 'preview'
      project: 'rn-storybook-7'
      arch: ${{ github.event.inputs.arch }}

  rn_development_ios:
    uses: ./.github/workflows/ios_build.yml
    if: ${{ github.event.inputs.rn_development_ios == 'true'}}
    name: RN Development iOS Build
    secrets: inherit
    with:
      profile: 'development'
      project: 'rn-storybook-7'
      arch: ${{ github.event.inputs.arch }}

  rn_development_android:
    uses: ./.github/workflows/android_build.yml
    if: ${{ github.event.inputs.rn_development_android == 'true'}}
    name: RN Development Android Build
    secrets: inherit
    with:
      profile: 'development'
      project: 'rn-storybook-7'
      arch: ${{ github.event.inputs.arch }}

  expo_preview_android:
    uses: ./.github/workflows/android_build.yml
    if: ${{ github.event.inputs.expo_preview_android == 'true'}}
    name: Expo Preview Android Build
    secrets: inherit
    with:
      profile: 'preview'
      project: 'expo-storybook-8'
      arch: ${{ github.event.inputs.arch }}

  expo_development_ios:
    uses: ./.github/workflows/ios_build.yml
    if: ${{ github.event.inputs.expo_development_ios == 'true'}}
    name: Expo Development iOS Build
    secrets: inherit
    with:
      profile: 'development'
      project: 'expo-storybook-8'
      arch: ${{ github.event.inputs.arch }}

  expo_development_android:
    uses: ./.github/workflows/android_build.yml
    if: ${{ github.event.inputs.expo_development_android == 'true'}}
    name: Expo Development Android Build
    secrets: inherit
    with:
      profile: 'development'
      project: 'expo-storybook-8'
      arch: ${{ github.event.inputs.arch }}
