name: 'Sherlo Builds'

on:
  workflow_dispatch:
    inputs:
      rn_preview_android:
        description: 'React Native Preview | Android'
        required: false
        default: false
        type: boolean
      rn_preview_ios:
        description: 'React Native Preview | iOS'
        required: false
        default: false
        type: boolean
      rn_development_android:
        description: 'React Native Dev | Android'
        required: false
        default: false
        type: boolean
      rn_development_ios:
        description: 'React Native Dev | iOS'
        required: false
        default: false
        type: boolean
      expo_preview_ios:
        description: 'Expo Preview | iOS'
        required: false
        default: false
        type: boolean
      expo_preview_android:
        description: 'Expo Preview | Android'
        required: false
        default: false
        type: boolean
      expo_development_android:
        description: 'Expo Dev | Android'
        required: false
        default: false
        type: boolean
      expo_development_ios:
        description: 'Expo Dev | iOS'
        required: false
        default: false
        type: boolean

jobs:
  rn_preview_ios:
    uses: ./.github/workflows/build:ios.yml
    if: ${{ github.event.inputs.rn_preview_ios == 'true'}}
    name: RN Preview iOS Build
    secrets: inherit
    with:
      profile: 'preview'
      project: 'react-native'

  rn_preview_android:
    uses: ./.github/workflows/build:android.yml
    if: ${{ github.event.inputs.rn_preview_android == 'true'}}
    name: RN Preview Android Build
    secrets: inherit
    with:
      profile: 'preview'
      project: 'react-native'

  rn_development_ios:
    uses: ./.github/workflows/build:ios.yml
    if: ${{ github.event.inputs.rn_development_ios == 'true'}}
    name: RN Development iOS Build
    secrets: inherit
    with:
      profile: 'development'
      project: 'react-native'

  rn_development_android:
    uses: ./.github/workflows/build:android.yml
    if: ${{ github.event.inputs.rn_development_android == 'true'}}
    name: RN Development Android Build
    secrets: inherit
    with:
      profile: 'development'
      project: 'react-native'

  expo_preview_ios:
    uses: ./.github/workflows/build:ios.yml
    if: ${{ github.event.inputs.expo_preview_ios == 'true'}}
    name: Expo Preview iOS Build
    secrets: inherit
    with:
      profile: 'preview'
      project: 'expo'

  expo_preview_android:
    uses: ./.github/workflows/build:android.yml
    if: ${{ github.event.inputs.expo_preview_android == 'true'}}
    name: Expo Preview Android Build
    secrets: inherit
    with:
      profile: 'preview'
      project: 'expo'

  expo_development_ios:
    uses: ./.github/workflows/build:ios.yml
    if: ${{ github.event.inputs.expo_development_ios == 'true'}}
    name: Expo Development iOS Build
    secrets: inherit
    with:
      profile: 'development'
      project: 'expo'

  expo_development_android:
    uses: ./.github/workflows/build:android.yml
    if: ${{ github.event.inputs.expo_development_android == 'true'}}
    name: Expo Development Android Build
    secrets: inherit
    with:
      profile: 'development'
      project: 'expo'
