name: TEST - Stress Testing (20 builds)

on:
  workflow_call:
    inputs:
      env:
        description: 'Environment (dev, test, prod)'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment (dev, test, prod)'
        required: true
        default: 'dev'
        type: string

jobs:
  run:
    name: Run
    environment: ${{ inputs.env }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        attemptNumber: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          lfs: true

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.18.0'

      - name: Install dependencies
        run: yarn

      - name: Build dependencies
        run: yarn switch-env:${{ inputs.env }}
        env:
          PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}

      - name: Run sherlo local-builds
        run: |
          yarn sherlo local-builds \
            --config configs/default-devices.json \
            --android testing/expo-storybook-8/builds/preview/android.apk \
            --ios testing/expo-storybook-8/builds/preview/ios.tar.gz \
            --token ${{ secrets.SHERLO_STRESS_TESTING_TOKEN }}
